n8n/revue-dominicale.json
{
  "name": "TWIY — Revue du dimanche auto-générée",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 8 * * 0" }]
        }
      },
      "id": "cron-dimanche",
      "name": "Dimanche 8h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{$env.TWIY_API_URL}}/ai/revue",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.TWIY_WEBHOOK_KEY}}" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {}
      },
      "id": "twiy-revue",
      "name": "TWIY génère la revue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:27123/vault/00-Veille/Revue-Dominicale.md",
        "method": "PUT",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$env.OBSIDIAN_API_KEY}}" },
            { "name": "Content-Type", "value": "text/markdown" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/markdown",
        "body": "={{ '# Revue dominicale\\n\\n' + ($json.revue || $json.content || JSON.stringify($json)) }}"
      },
      "id": "ecrire-obsidian",
      "name": "Écrire dans Obsidian",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 300]
    }
  ],
  "connections": {
    "Dimanche 8h": {
      "main": [[{ "node": "TWIY génère la revue", "type": "main", "index": 0 }]]
    },
    "TWIY génère la revue": {
      "main": [[{ "node": "Écrire dans Obsidian", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": {
    "templateCredsSetupCompleted": false,
    "description": "Appelle POST /api/ai/revue (auth x-api-key = WEBHOOK_API_KEY). Plus besoin d'ANTHROPIC_API_KEY dans n8n — la clé reste sur Railway."
  }
}
